*{
    margin: 0;
    padding: 0;
}
.maindivnav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 9vh;
    background: #082c38;
}
#nameimg{
    display: flex;
    margin-left: -80px;
    align-items: center;
}
#nameimg h1{
    font-size: 30px;
    text-transform: uppercase;
    color: #c19976 ; 
    font-weight: bold;
    text-shadow: 3px 6px 3px rgb(82, 110, 146);
}
#nameimg h1:hover{
    box-shadow: 0 0 5px #c19976,
    0 0 30px #c19976, 0 0 70px #c19976,
    0 0 150px #c19976, 0 0 250px #c19976;
    transition: 2s;
}
#navdiv a{
    text-decoration: none;
    color: #c19976;
    gap: 40px;
    padding: 5px 30px 5px 30px;
    margin: 0px 50px 0px 60px;
    border: 1px solid #082c38;
    background-color: #082c38;
    box-shadow: 0 0 10px #c19976,
    0 0 25px #c19976;
}
#navdiv a:hover{
    box-shadow: 0 0 5px #c19976,
    0 0 30px #c19976, 0 0 100px #c19976,
    0 0 150px #c19976, 0 0 250px #c19976;
    transition: 2s;
}
.firstdiv{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    height: 91vh;
}
#social{
    /* border: 1px solid black; */
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(60deg, #c19976, #082c38);
}
#social a{
    display: flex;
    height: 7vh;
    width: 7vw;
    flex-direction: row;
}
#textdiv{
    /* border: 1px solid black; */
    width: 100%;
    background: #082c38;
    color: #c19976;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#imgdiv{
    /* border: 1px solid black; */
    border-radius: 50%;
    width: 330px;
    height: 330px;
    margin-bottom: 3vh;
    background-image: url(../res/IMG_E0082.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px #c19976;
    transition: 2s;
}
#imgdiv:hover{ 
    box-shadow: 0 0 5px #c19976,
    0 0 30px #c19976, 0 0 100px #c19976,
    0 0 150px #c19976, 0 0 250px #c19976;
    transition: 2s;
}
#socialhandle{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}
#socialhandle a{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 5vw;
}
#projectdiv{
    display: flex;
    flex-direction: column;
    background: #082c38;
    width: 80%;
}
.works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px 20px 50px;
}
.works h1{
    margin-bottom: 2vh;
    color: #c19976;
}
.works a{
    text-decoration: none;
    margin-bottom: 2vh;
    font-size: 18px;
    color: #c19976;
}
.works a:hover{
    text-decoration: underline;
}
.works span{
    font-size: 30px;
}
.course{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.course p{
    text-decoration: none;
    margin-bottom: 2vh;
    font-size: 18px;
    color: #c19976;
}
.course h1{
    margin-bottom: 1vh;
    color: #c19976;
}
.course h2{
    margin-bottom: 1vh;
    color: #c19976;
}
